<h1>Reset Password</h1>
  <form id="resetPasswordForm">
    <input type="hidden" id="token" value="{{token}}">
    <label for="newPassword">New Password:</label>
    <input type="password" id="newPassword" name="newPassword" required>
    <br>
    <label for="confirmPassword">Confirm Password:</label>
    <input type="password" id="confirmPassword" name="confirmPassword" required>
    <br>
    <button type="button" onclick="resetPassword()">Reset Password</button>
  </form>

  <script src="/static/js/resetPassword.js"></script>